td {
    background-color:#BA7A3A;
    width: 85px;
    height: 85px;
    text-align: center;
}

.boardGame{
    display: flex;
    justify-content: center;
}

.noPieceHere {
    background-color: #f0d2b4;
}
