td {
    background-color:#BA7A3A;
    width: 100px;
    height: 100px;
    text-align: center;
}

.black-piece {
    width: 30px;
    height: 30px;
    padding: 12px;
    background-color: black;
    border: 1px double white;
    border-radius: 50%;
    display: inline-block;
}
.red-piece {
    width: 30px;
    height: 30px;
    padding: 12px;
    background-color: red;
    border: 1px double white;
    border-radius: 50%;
    display: inline-block;
}

.king .black-piece{
    background-color: purple;
}

.king .red-piece{
    background-color: orange;
}

.noPieceHere {
    background-color: #f0d2b4;
}

.boardGame {
    display: flex;
    justify-content: center;
}
.playersTurns {
    display: flex;
    justify-content: center;
    padding:10px;

}
.black-turn-text{
    color: grey;
}
.red-turn-text,
.black-turn-text {
    padding: 10px;
    font-size: 30px;
}
#divider{
    font-size: 40px;
    font-weight: 800;
}